body
{
    font-family: 'Raleway', sans-serif;
}
.heading {
    width: 100%;
}

.heading h3 {
    display: inline;
    font-size: 30px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start{
    font-size: 22px;
}
.copyright-footer {
    background-color: grey;
    color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 2;
    
}
.sophie{
    color:blue;
}